<div id="cards" class="cards">
  </div>
<table class="table">
  <thead class="thead-light">
    <TR>
    <TH>ID.No</TH>
    <TH>Name</TH>
    <TH>CardID</TH>
    <TH>Phone Number</TH>
    <TH>Date</TH>
    <TH>Time In</TH>
    <TH>Time Out</TH>
</TR>
  </thead>
  <tbody>
    {% for user in log %}
    <TR>
        <TD>{{ user.ida}}</TD>
        <TD>{{ user.name}}</TD>
        <TD>{{ user.card_id}}</TD>
        <TD>{{ user.phone}}</TD>
        <TD>{{ user.date}}</TD>
        <TD>{{ user.time_in}}</TD>
        {% if user.time_out %}
        <TD>{{ user.time_out}}</TD>
        {% endif %}
        </TR>
    {% endfor %}
  </tbody>
</table>